<!Doctype html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet' href='/css/bootstrap.min.css'>
  <script src="./js/bootstrap.min.js"></script>
  <script src="./js/jquery.min.js"></script>
</head>

<body>

  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Gitten</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">My Projects</a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">catgod666 <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Mystery Option</a>
              </li>
              <li><a href="#">Sign Out</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>

  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="row" style="text-align:center">
          <div class="col-md-12">
            <h1> Github Repo Title</h1>
            <h2> Developer's Alias </h2>
            <h3> Full Name + Email + Website</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12" style="text-align:center">
            <h4>Super Cool Hackathon, Fall 2014</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12" style="text-align:center">
            <h4>Ruby, Web App</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12" style="text-align:center">
            <div class="btn-group">
              <button type="button" class="btn btn-primary"> Demo </button>
              <button type="button" class="btn btn-info"> Repo </button>
              <button type="button" class="btn btn-success"> Kudos <span class="badge">0</span>
              </button>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12" style="text-align:center">
            <p>Chew iPad power cord chase mice, and give attitude, so purr for no reason. Intently stare at the same spot run in circles, so bathe private parts with tongue then lick owner's face but hide when guests come over, for hopped up on catnip. Play
              riveting piece on synthesizer keyboard intently sniff hand rub face on everything. Play riveting piece on synthesizer keyboard poop on grasses, for climb leg. Who's the baby chew iPad power cord stand in front of the computer screen, but
              loves cheeseburgers intrigued by the shower stare at ceiling, yet behind the couch. All of a sudden cat goes crazy leave dead animals as gifts i like big cats and i can not lie hunt by meowing loudly at 5am next to human slave food dispenser
              leave hair everywhere, for peer out window, chatter at birds, lure them to mouth and play time. </p>
          </div>
        </div>


        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
              <img src="http://placehold.it/350x150" alt="wow">
              <div class="carousel-caption">
                Look at this image.
              </div>
            </div>
            <div class="item">
              <img src="http://placehold.it/350x150" alt="image">
              <div class="carousel-caption">
                Yeah. Images.
              </div>
            </div>
            <div class="item">
              <img src="http://placehold.it/350x150" alt="image">
              <div class="carousel-caption">
                IMAGES.
              </div>
            </div>
          </div>

          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div>

      </div>

      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-heading">Tweet Feed</div>
          <table class="table">
            <tr>
              <td><strong>SUPER-REPO</strong> wow much commit yeah man</td>
            </tr>
            <tr>
              <td><strong>PRETTY-COOL-REPO</strong> such repo much commit</td>
            </tr>

            <tr>
              <td><strong>AWESOME-REPO</strong> repo repo repo repo repossssss repo repo repo repo repossssss</td>
            </tr>
            <tr>
              <td><strong>SUPER-REPO</strong> moar commit</td>
            </tr>
            <tr>
              <td><strong>PRETTY-COOL-REPO</strong> look at these commits. look at all of these commits.</td>
            </tr>

            <tr>
              <td><strong>AWESOME-REPO</strong>commit commit commit commit commit commmmmmmiiiiiiiitttttt commit commit commit commit commit commmmmmmiiiiiiiitttttt </td>
            </tr>
          </table>
        </div>
      </div>

    </div>


  </div>

</body>
